extends /partials/layout

block content
  img.vinlys-img(src="/vinyls.jpg")
  div.homepage
    div.homepage-left-column
      h1 Records

      div.album-list
        each album in albums
          div
            h3
              a(href=`/albums/${album.id}`) #{album.title}
            span #{album.artist}
            
    div.homepage-right-column
      h1 Recent Reviews
      div
        each review in reviews
          span
            h3 #{review.album_title}
              h5.album-review-date #{humanReadableDate(review.date_posted)}
          if review.content.length <= 400
            p #{review.content}
          else  
            p #{review.content.slice(0, 400)} 
              a(href=`/albums/${review.album_id}`) ...
          h4.homepage-review-author by #{review.author}
