extends /partials/layout

block content
  div.profile
    div.left-column
      img(src="/blank-profile-picture.png")
                
    div.right-column
      h1 #{user[0].name}
      
      p Email: #{user[0].email}
        
      if user[0].date_joined
        p Date Joined: #{dateJoined}
      else
        p Date Joined:
        
      br    
      h1 Reviews
      
      each review in user
        div.user-reviews
          p
            a(href=`/albums/${review.album_id}`) #{review.album_title}
            span.review-date #{humanReadableDate(review.review_date_posted)}
            
          p #{review.review_content}
